<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- Server - Localhost -->
	<add name="Examen_Canva" connectionString="Data Source=DESKTOP-V66ML6S\SQLEXPRESS;Database=Examen_Canva;User Id=keve;Password=123456;Initial Catalog=Examen_Canva;Integrated Security=False" />
</connectionStrings>